html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
.app {
  margin: 20px;
}
.main-video {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}
.main-video img {
  width: 100%;
}
.card {
  width: 20%;
  height: auto;
  border-radius: 5%;
  margin: 10px;
  filter: drop-shadow(5px 5px 10px #000);
  transition: 0.2s all ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.2s all ease-in-out;
  filter: brightness(130%);
}

.vid-links {
  cursor: pointer;
}

.category {
  margin-left: 1rem;
}

.navbar {
  height: 80px;
  width: 100%;
}
.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}
